<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Выборка из файла</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="listn">Имя листа:</label>
        <input type="text" placeholder="н.п. Лист1" id="listn" name="listn">
        <label for="coln">№ колонки:</label>
        <input type="text" placeholder="индекс A = 0" id="coln" name="coln">
        <input type="file" placeholder="Ваш Excel файл" name="file">
        <div class="button-row">
            <a href="/"><button type="button" class="back-button">Назад</button></a>
            <button type="submit" class="submit-button">Создать</button>
        </div>
    </form>
    {% if graph %}
    <img src="{{ graph }}" alt="Generated graph">
    {% endif %}
</body>
</html>