<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Нормальное распределение</h1>
    <a href="/"><button>Назад</button></a>
    <form method="POST">
        <label for="mean">Среднее:</label>
        <input type="text" id="mean" name="mean">
        <label for="std">Отклонение:</label>
        <input type="text" id="std" name="std">
        <button type="submit">Создать</button>
    </form>
    {% if graph %}
    <img src="{{ graph }}" alt="Generated graph">
    {% endif %}
</body>
</html>