<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <h1>Нормальное распределение</h1>
    <form method="POST">
        <label for="mean">Среднее:</label>
        <input type="text" id="mean" name="mean">
        <label for="std">Отклонение:</label>
        <input type="text" id="std" name="std">
        <div class="button-row">
            <a href="/"><button type="button" class="back-button">Назад</button></a>
            <button type="submit" class="submit-button">Создать</button>
        </div>
    </form>
    {% if graph %}
    <img src="{{ graph }}" alt="Generated graph">
    {% endif %}
</body>
</html>